@brand-color: #001100;
@accent-color: #4455DD;

.header {
    background: @brand-color;
    textColor: #111222;
    layout-marginRight: 12dp;
}
.footer { color: @brand-color; }

.empty {}

.h3 {
    background: opacity(@brand-color, 100);
    textSize: 18sp;
}
